/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
 --accent-color: #ff0070;
  --accent-decor-font-color: #000028;
  --accent-font-color: #ff0070;
  --accent-font-color-transparent: #ff007040;
  --background-color: #000028;
  --main-text-font-color: #f1b2ce;
  --second-accent-color: #db00ff;

  --background-pic: url("../images/cover-image-dark.png");

  --rec-icon-display: inline;
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
