/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --accent-color: #ff8dcb;
  --accent-decor-font-color: #353430;
  --accent-font-color: #353430;
  --accent-font-color-transparent: #35343040;
  --background-color: #fff1f7;
  --main-text-font-color: #353430;
  --second-accent-color: #ffc2e6;

  --background-pic: url("../images/cover-image-light.png");

  --rec-icon-display: none;
}

@media (prefers-color-scheme: light) {

  :root.theme-auto {
  --accent-color: #ff8dcb;
  --accent-decor-font-color: #353430;
  --accent-font-color: #353430;
  --accent-font-color-transparent: #35343040;
  --background-color: #fff1f7;
  --main-text-font-color: #353430;
  --second-accent-color: #ffc2e6;

  --background-pic: url("../images/cover-image-light.png");

  --rec-icon-display: none;
  }
}