/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #DB00FF;
  --accent-color-shadow: #FF0070;
  --header-bg-image: url('../images/cover-image-dark.png');
  --bg-color: #000028;
  --header-bg-description-color: #FF0070;
  --themeToggleButtonColor: #FF0070;
  --headerDecorationColor: #FF0070;
  --headerAccentColor: #FF0070;
  --mainContentTextColor: #FF0070;

  --text-color-light: #F1B2CE;
  --text-color-dark: #000028;
  --section-title-color: #FF0070;

  --spacing-small: 10px;
  --spacing-medium: 15px;
  --spacing-large: 20px;
  --spacing-xlarge: 60px;
  --header-margin: 50px 0;
  --theme-menu-margin: 65px 0;
  --header-title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --description-width: 364px;
  --default-font: "IBM Plex Mono", sans-serif;
  --text-font-size: 18px;
  --text-line-height: 23.4px;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --text-size: 18px;
}