/*
  Основные переменные проекта и их адаптация под ширину экрана.
*/

:root {
  --accent-color: #ff0070;
  --accent-decor-font-color: #000028;
  --accent-font-color: #ff0070;
  --accent-font-color-transparent: #ff007040;
  --background-color: #000028;
  --main-text-font-color: #f1b2ce;
  --second-accent-color: #db00ff;

  --background-pic: url("../images/cover-image-dark.png");

  --accent-font-weight: bold;
  --main-font-size: 18px;
  --main-font-weight: normal;
  --section-line-height: 23.4px;
  --site-tagline-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);

  --grid-template-columns: 1fr;
  --header-padding-block: 6.5vh 5vh;
  --main-gap_between_sections: 50px;
  --main-padding-block: 40px;
  --menu-list-gap: 10px;
  --padding-size: 10px;
  --paragraph-top-padding: 10px;
  --section-gap: 20px;

  --rec-icon-display: inline;
}

@media (width >= 768px) {

  :root {
    --columns-left-padding: 8px;
    --grid-template-columns: repeat(3, 1fr);
    --header-padding-block: 11vh 10vh;
    --main-gap_between_sections: 80px;
    --main-padding-block: 60px;
    --menu-list-gap: 8px;
    --padding-size: 20px;

    --site-tagline-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {

  :root {
    --columns-left-padding: 0px;
    --header-padding-block: var(--padding-size) 10vh;
    --menu-list-gap: 10px;
  }
}
